@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
  font-weight: 700;
}
h3 {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  color: #f16214;
}
h4 {
  font-weight: 500;
}
